# Database 
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_pass
DB_HOST=your_db_host_name
DB_PORT=your_db_port

# Fast Api
SECRET_KEY=your_secret
PORT=your_fast_api_port
HOST=your_fast_api_host
API_VERSION=your_api_version